@import "variables";

html, body {
  margin: 0;
}
html {
  font: 16px/24px Arial, sans-serif;
}

div.alert, div.notice {
  padding-top: 30px;
  text-align: center;
  display: block;
}

div.alert {
  color: $alert-color;
}

div.notice {
  color: $notice-color;
}
