@import "variables";

div.welcome-box {
  width: 640px;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 240px;
  text-align: center;

  h1 {
    text-align: center;
    display: block;
    padding: 0;
    margin: 10px 8px;
  }

  a {
    margin: 30px 10px;
    display: inline-block;
  }
}

@media (max-width: 1080px) {
  div.welcome-box {
    position: relative;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    a {
      margin-top: 50px;
    }

    div.alert, div.notice {
      padding-top: 50px;
    }
  }
}
