@import "variables";

div.login-box {
  position: absolute;
  margin: auto;
  top: -120px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  max-height: 240px;

  h1 {
    display: block;
    padding: 0;
    margin: 10px 8px;
  }

  div.content {
    border: 1px solid $dark-color;
    border-radius: 2px;
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

input, label {
  display: block;
}

input[type=email], input[type=password] {
  width: 100%;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
}

input[type=submit] {
  position: relative;
  margin-left: auto;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 2px;
  width: 120px;
  font-weight: bold;
  color: $dark-color;
  background-color: $bg-color;
}
